@use "../scss/variables"  ;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html {
  font-family: 'Roboto', sans-serif;
  padding-top: 90px;
  line-height: 1.5;
  // font-size: 62.5%;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: $main-color;
}

ul {
  list-style: none;
}

button {
  border: none;
}

.line-hover {
  position: relative;
}

.line-hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0;
  background-color: $main-color;
  transition: width .3s ease-in;
}

.line-hover:hover::before {
  width: 100%;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 50px;
  text-transform: capitalize;
  text-align: center;
  margin-top: 100px;
}