$main-bg: #ffffff;
$main-color: #72b626;

$txt-color:#000000;
$txt-s2-color: #8d8d8d ;
$txt-white:#ffffff;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$height-header: 90px ;
$height-shrink-header: 70px ;

$mobile-width : 600px ;
$table-width: 1024px ;